
/*nav css*/
.weblogo {
  width: 47px;
}
.navbar-nav li{
  padding: 0 10px;
}
.navbar-nav li a{
  color: #fff!important;
  font-weight: 600px;
  font-size: 20px;
}
.border-box{
  border-style: solid;
  border-width: thin;
  border-color: #fbab29
}
.navbar{
  background: #00000091;
}

 
 .brands-logos{
   padding: 5%;
 }
 /*footer css*/
 
.mainfooter{
   background: #020306f0;
   padding: 50px;
   color: #fff;
}
.img2{
  width: 50%;
  margin-top: 30px;
}
.contact{
 font-family: 'prague';
 font-size: 2 rem;
 line-height: 50px;
 letter-spacing: 3px;
 color: #fff;
}
.p3{
 font-size: 16px;
 line-height: 28px;
 letter-spacing: 1px;
 text-align: justify;
}
.foot-add{
 padding: 15px;
}
.mainfooter strong{
 color: #fcb21b;
}
.mainfooter a{
 color: #fcb21b;
}
.mainfooter a{
 text-decoration: none;
}
.social-icon{
 font-size: 20px;
}
.end{
 background-color: #000;
   padding-top: 30px;
   padding-bottom: 30px
}
.copyright-text{
   font-size: 13px;
   color: white;
   margin-top: 0px;
   margin-bottom: 0rem;
}
.banner{
  background: url(https://www.firstfiddle.in/assets/images/brands.jpg);
  width: 100%;
  background-position: center;
  background-size: cover;
}

.pyb-20{
  padding-top: 252px;
  padding-bottom: 252px;
}

.brand{
  font-family: 'prague';
  font-size: 80px;
  color: white;
}
