
/*nav css*/
.weblogo {
    width: 47px;
}
 .navbar-nav li{
    padding: 0 10px;
 }
 .navbar-nav li a{
    color: #fff!important;
    font-weight: 600px;
    font-size: 20px;
 }
 .border-box{
    border-style: solid;
    border-width: thin;
    border-color: #fbab29
 }
 .navbar{
   background: #00000091;
 }
 /*nav css end*/
 .banner{
   background: url(https://www.firstfiddle.in/assets/images/press-new-1.jpg);
   width: 100%;
   background-position: center;
   background-size: cover;
}

.pyb-20{
   padding-top: 252px;
   padding-bottom: 252px;
}

.brand{
   font-family: 'prague';
   font-size: 80px;
   color: white;
}
 .contactline{
    font-size: 80px;
 }
 .contacts{
    padding-right: 70px;
    padding-left: 70px;
 }
 .row{
    display: flex;
    flex-wrap: wrap;
    
}
.contact-us{
    padding: 3%;
}
.contact-us2{
    padding: 3%;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-group {
    margin-bottom: 1rem;
}
.btn{
    color: #ffffff;
    padding: 10px 20px;
    font-weight: bolder;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    background-color: #fbac29;
}
a{
    
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}
.mainfooter{
    background: #020306f0;
    padding: 50px;
    color: #fff;
 }
 .img2{
   width: 50%;
   margin-top: 30px;
 }
 .contact{
  font-family: 'prague';
  font-size: 2 rem;
  line-height: 50px;
  letter-spacing: 3px;
  color: #fff;
 }
 .p3{
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 1px;
  text-align: justify;
 }
 .foot-add{
  padding: 15px;
 }
 .mainfooter strong{
  color: #fcb21b;
 }
 .mainfooter a{
  color: #fcb21b;
 }
 .mainfooter a{
  text-decoration: none;
 }
 .social-icon{
  font-size: 20px;
 }
 .end{
  background-color: #000;
    padding-top: 30px;
    padding-bottom: 30px
 }
 .copyright-text{
    font-size: 13px;
    color: white;
    margin-top: 0px;
    margin-bottom: 0rem;
 }
 